requests
streamlit
soundfile
suno
ollama
torch
pandas
poe_api_wrapper
asyncio
assemblyai
python-doctr[torch]
opencv-python
numpy
SunoAI
pdf2image
whisper
librosa
matplotlib
fastapi
uvicorn
requests
pydantic
pydub
scipy
ipython
openai